.sidebar {
    padding-top: 24px;
    overflow: auto;
    position: fixed;
    height: 100%;
    float: left;
    background-color: #FFFFFF;
    border-right: 1px solid rgba($color: #4C5866, $alpha: 0.1);
    width: 300px;
    -webkit-box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.05);

    /* Styles for scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #dbdbdb;
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #dbdbdb;
        background-color: #555;
    }

    img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 150px !important;
    }

    h4 {
        color: $primary;
        margin-left: 24px;
        margin-top: 2.5vh;
        margin-bottom: 4px;
        padding-bottom: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;

        i {
            font-size: 14px;
            line-height: 14px;
            vertical-align: middle;
        }
    }

    .admin-link {
        text-decoration: none;
        color: #6C757D;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .dropdown_menu {
        margin-left: 30px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px;

        li {
            margin: 8px 13px;
            padding: 0px 8px 0px 24px;
            list-style: none;
            display: flex;
            align-items: center;
            min-height: 24px;
            height: 6vh;
            max-height: 48px - 8px;
            position: relative;
            color: white;
            border-radius: 30px;
            text-decoration: none;

            &:hover {
                background-color: lighten($color: $primary, $amount: 5);
                transform: translateY(-3px);
                -webkit-box-shadow: 0px 3px 10px 0px rgba($color: $primary, $alpha: 0.5);
                -moz-box-shadow: 0px 3px 10px 0px rgba($color: $primary, $alpha: 0.5);
                box-shadow: 0px 3px 10px 0px rgba($color: $primary, $alpha: 0.5);
                transition: 0.6s;

                a {
                    color: white !important;
                }
            }

            a {
                color: #4C5866 !important;
                text-decoration: none;
                display: block;
                flex-grow: 1;
                position: relative;

                .dropdown-icon {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.active,
            &.router-link-active {
                background-color: lighten($color: $primary, $amount: 10);
                border-radius: 30px;
                transform: translateY(-3px);
                -webkit-box-shadow: 0px 3px 10px 0px rgba($color: $primary, $alpha: 0.5);
                -moz-box-shadow: 0px 3px 10px 0px rgba($color: $primary, $alpha: 0.5);
                box-shadow: 0px 3px 10px 0px rgba($color: $primary, $alpha: 0.5);
                color: white !important;

                a {
                    color: white !important;
                }
            }
        }
    }

    .label {
        margin-right: 8px;
        font-size: 12px;
        background-color: $primary;
        color: white;
        padding: 2px 6px;
        border-radius: 8px;
    }

    @media (max-width:769px) {
        left: -300px - 20;
        box-shadow: 0 1px 0 1px rgba(89, 105, 128, .1), 0 3px 20px 0 rgba(89, 105, 128, .3), 0 1px 2px 0 rgba(0, 0, 0, .05);
        position: absolute;
        z-index: 99;
    }
}

.open-mobile-sidebar {
    z-index: 999999999;
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 15px;
    font-size: 18px !important;

    span {
        font-size: 22px;
        font-weight: 700;
    }
}

.show-mobile {
    display: none;
}

@media (max-width: 769px) {
    .show-mobile {
        display: unset;
    }
}
